@import url("fonts.css");

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* embedded fonts */

h1, h2, #navigation {
    font-family: "Open Sans", sans-serif;
}

/* Demo app */

#demo-strip {
    padding: 50px 0;
    background: #404040;
    color: #CCC;
}

#demo-content h2 {
    margin-bottom: 30px;
    color: #DFDFDF;
}

#demo-content a {
    color: #FFF;
}

#color-map-div table {
    width: 100%;
    font-size: 80%;
}

#color-map-div th {
    padding: 0 5px;
}

#color-map-div table input {
    width: 10em;
    color: #FFF;
    border: 1px solid #999;
    background: #262626;
    padding: 2px 5px;
}

#color-map-div table input:focus {
    border-color: #FFF !important;
    color: #FFF !important;
}

#color-map-div table input.short {
    width: 3em;
    text-align: center !important;
}

#color-map-div button {
    height: 50px;
    margin: 10px 0;
}

#color-map-div .panel {
    top: 0;
}

#color-map-div .panel .red {
    color: #F99;
}

#color-map-div .panel .red input {
    border-color: #F99;
    color: #F99;
}

#color-map-div .panel .grn {
    color: #9F9;
}

#color-map-div .panel .grn input {
    border-color: #9F9;
    color: #9F9;
}

#color-map-div .panel .blu {
    color: #9CF;
}

#color-map-div .panel .blu input {
    border-color: #9CF;
    color: #9CF;
}

#color-map-div .panel.bgcolor {
    left: 0;
}

#color-map-div .panel.bgcolor th {
    text-align: right;
}

#color-map-div .panel.bgcolor td {
    text-align: left;
}

#color-map-div .panel.bgcolor table input {
    text-align: left;
}

#color-map-div .panel.fgcolor {
    right: 0;
}

#color-map-div .panel.fgcolor th {
    text-align: left;
}

#color-map-div .panel.fgcolor td {
    text-align: right;
}

#color-map-div .panel.fgcolor table input {
    text-align: right;
}

#color-map-div #demo-preview {
    margin: 20px auto;
    padding: 60px 0;
    border: 4px solid #000;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    border-radius: 15px;
}

#color-map-div #demo-preview strong {
    font-weight: normal;
    font-size: xx-large;
}

#color-map-div #demo-links {
    margin: 40px auto;
}

#color-map-div .color-cell {
    border: solid 1px #000000
}

#results {
    position: absolute;
}

.pixel-canvas {
    background-color: white;
}

/* 'border-collapse' CSS property specifies whether a table's cells have shared or separate borders; 'collapse' value causes cells to have shared borders */
table {
    border-collapse: collapse;
}

tr {
    height: 5px;
}

td {
    min-width: 5px;
    box-sizing: border-box;
    white-space: nowrap;
}

/* styles height and width input boxes */
input[type=number] {
    width: 3em;
    border: 1px solid #dcdcdc;
}

/* Styles submit button, including a change of displayed mouse cursor to inform user he/she is hovering over something clickable */
.submit-button, .quick-fill {
    /* Padding is space between element's content and border. First value sets top and bottom padding; second value sets right and left */
    min-width: 100px;
    font-size: 14px !important;
}

/* Styles content to left of grid */
.inputs {
    text-align: left;
    margin-left: 8em;
    margin-top: 11em;
    border-radius: 7px;
    border: 1px solid #dcdcdc;
    padding-left: 2.5em;
    width: 200px;
    background-color: white;
}

.size-picker {
    font-size: 80%;
    padding: 0 5px;
}

.main-menu {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    position: relative;
    font-family: "Montserrat", Arial, sans-serif;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-border {
    border: 0 !important;
}

.normal-label {
    color: #000000;
    font-size: 14px;
    padding-right: 10px;
    text-align: left;
    top: 50%
}

.number-up-down {
    font-size: 15px;
    padding: 5px 5px !important;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.retrieve-button {
    background: #242526 !important;
    border: 1px solid #242526 !important;
    color: #fff !important;
}

#method, .dropdown-item {
    font-size: 14px !important;
}

button[aria-expanded="true"] {
    color: #000000 !important;
    margin-bottom: 5px;
}

.card .card-header .btn,
#select-image-label {
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    font-family: "Montserrat", Arial, sans-serif;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card .card-header .btn:after,
#select-image-label:after {
    content: "";
    position: absolute;
    height: 0.5px;
    bottom: 7px;
    left: 0;
    right: 0;
    background-color: #000000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card .card-header .btn:hover,
#select-image-label:hover {
    text-decoration: none;
    color: black;
}

.card .card-header .btn:hover:after,
#select-image-label:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.box-input {
    background-color: white;
    outline: 2px dashed black;
    padding: 15px;
}

#colorlib-main {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.boxes {
    margin: auto;
    padding: 25px 10px;
}

/*Checkboxes styles*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Montserrat', Arial, sans-serif;
    color: #000000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #6cc0e5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    border-width: 2px;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.extraction-cell {
    font: 14px/20px 'Montserrat', Arial, sans-serif;
    color: #000000;
}

th, td {
    padding: 7px;
    white-space: nowrap;
}