@import url("fonts.css");

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* embedded fonts */
body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, #navigation {
    font-family: "Open Sans", sans-serif;
}

/* Demo app */

#demo-strip {
    padding: 50px 0;
    background: #404040;
    color: #CCC;
}

#demo-content h2 {
    margin-bottom: 30px;
    color: #DFDFDF;
}

#demo-content a {
    color: #FFF;
}

#demo-app table {
    width: 100%;
    font-size: 80%;
}

#demo-app th {
    padding: 0 5px;
}

#demo-app table input {
    width: 10em;
    color: #FFF;
    border: 1px solid #999;
    background: #262626;
    padding: 2px 5px;
}

#demo-app table input:focus {
    border-color: #FFF !important;
    color: #FFF !important;
}

#demo-app table input.short {
    width: 3em;
    text-align: center !important;
}

#demo-app button {
    height: 50px;
    margin: 10px 0;
}

#demo-app .panel {
    top: 0;
}

#demo-app .panel .red {
    color: #F99;
}

#demo-app .panel .red input {
    border-color: #F99;
    color: #F99;
}

#demo-app .panel .grn {
    color: #9F9;
}

#demo-app .panel .grn input {
    border-color: #9F9;
    color: #9F9;
}

#demo-app .panel .blu {
    color: #9CF;
}

#demo-app .panel .blu input {
    border-color: #9CF;
    color: #9CF;
}

#demo-app .panel.bgcolor {
    left: 0;
}

#demo-app .panel.bgcolor th {
    text-align: right;
}

#demo-app .panel.bgcolor td {
    text-align: left;
}

#demo-app .panel.bgcolor table input {
    text-align: left;
}

#demo-app .panel.fgcolor {
    right: 0;
}

#demo-app .panel.fgcolor th {
    text-align: left;
}

#demo-app .panel.fgcolor td {
    text-align: right;
}

#demo-app .panel.fgcolor table input {
    text-align: right;
}

#demo-app #demo-preview {
    margin: 20px auto;
    padding: 60px 0;
    border: 4px solid #000;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    border-radius: 15px;
}

#demo-app #demo-preview strong {
    font-weight: normal;
    font-size: xx-large;
}

#demo-app #demo-links {
    margin: 40px auto;
}

#results {
    position: absolute;
}

/* Color map */
table,
tr,
td {
  border: silver 1px solid;
}

.pixel-canvas {
  background-color : white;
}

/* 'border-collapse' CSS property specifies whether a table's cells have shared or separate borders; 'collapse' value causes cells to have shared borders */
table {
  border-collapse: collapse;
}

tr {
  height: 5px;
}

td {
  min-width: 5px;
  box-sizing: border-box;
}

/* styles height and width input boxes */
input[type=number] {
  width: 3em;
  border: 1px solid #dcdcdc;
}

/* Styles submit button, including a change of displayed mouse cursor to inform user he/she is hovering over something clickable */
.submit-button, .quick-fill {
  box-shadow: inset 0px 1px 0 0 #fff;
	background: linear-gradient(#f9f9f9 5%, #e9e9e9 100%);
  /* creates rounded edges (more pixels -> more rounded) */
	border-radius: 7px;
	border: 1px solid #dcdcdc;
	color: #666;
	font-weight: bold;
  /* Padding is space between element's content and border. First value sets top and bottom padding; second value sets right and left */
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0 1px #fff;
  cursor: pointer;
  /* Places button on its own line */
  display: block;
  margin-top: 1em;
}

/* Styles content to left of grid */
.inputs {
  text-align: left;
  margin-left: 8em;
  margin-top: 11em;
  border-radius: 7px;
  border: 1px solid #dcdcdc;
  padding-left: 2.5em;
  width: 200px;
  background-color : white;
}

.size-picker {
    font-size: 80%;
    padding: 0 5px;
}

.quick-fill {
    font-size: 80%;
}